.inner {
  display: table;
  margin: 0 auto;
}
.outer {
  background-image: url("Img/MilkThistle.png");
  background-size: cover;
  background-repeat: no-repeat;
}
nav .navbar-nav li a {
   font-size: 20px;
}
.navbar-nav li{
  padding-left:40px;
  padding-right:40px;
  padding-top: 20px;
  font-family: 'Sanchez', serif;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fffff0 !important;
}
