body {
  font-family: 'Open Sans', sans-serif !important;
}
figure {
  margin: auto;
}
.head {
  display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: -100px;
   margin-bottom: -50px;
   width: 70%;
}
.about_us {
padding: 100px 0 !important;
max-width: 640px;
margin: 0 auto;
text-align: center;
margin-bottom: -50px;
}
.main_div {
  height: 5000px;
}

/*Parallax*/

.cocktail_box {
  position: relative;
  height: 800px;
  background-image: url("img/Lucky-Pig.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

@media (max-width:400px) {
  .cocktail_box {background-image: url("img/cinema/mint.gif"); background-position: center;}
  h1 {color: }
}
@media (min-width: 401px) and (max-width:550px) {
  .cocktail_box {background-image: url("img/cinema/pour.gif"); background-position: center; margin-top: -100px;}
}
@media (min-width: 551px) and (max-width:750px) {
  .cocktail_box {background-image: url("img/cinema/berry.gif"); background-position: center;}
}
@media (max-width:1200px) {
  .coffee {display: none;}
  .espresso_martini {display: none;}
  .old_fashioned {display: none;}
  .dirty_martini {display: none;}
  .olive {display: none;}
}
@media (max-width: 1200px) {
  .logo {content: url("img/thescarletletter.png"); position: inherit;}
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 400px;
}
.coffee {
  width: 150px;
  left: 100px;
  top: 305px;
  position: absolute;
}
.espresso_martini {
  width: 460px;
  right: 850px;
  top: 250px;
  position: absolute;
}
.old_fashioned {
  width: 270px;
  position: absolute;
  left: 850px;
  top: 580px;
}
.dirty_martini {
  width: 950px;
  position: absolute;
  left: 650px;
  top: 260px;
}
.olive {
  width: 220px;
  position: absolute;
  left: 985px;
  top: 360px;
}

/*image grid*/

.container img {
  margin-bottom: 30px;
  position: relative;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s ease-in-out;
}
.container .is-showing {
  opacity: 1;
  transform: translateX(0px);
}

/*periscope*/

/* .periscope {
  width: 2000px;
  background-image: url("img/cocktails/periscope.jpg");
  background-position: center;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */
